html {
  font-size: calc(10px + 2vmin);
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: flex;
}

body * {
  display: block;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  background: none;
}

button {
  margin: auto;
  font-size: 10rem;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  padding: 2rem;
}

h1 {
  margin: auto;
  font-size: 2rem;
}
